// Import Google fonts

// Define fonts for body and headers

@font-face {
  font-family: "STARWARS";
  src: url(asset_path('STARWARS.eot'));
  src: url(asset_path('STARWARS.eot?#iefix')) format('embedded-opentype'),
       url(asset_path('STARWARS.woff')) format('woff'),
       url(asset_path('STARWARS.ttf')) format('truetype'),
       url(asset_path('STARWARS.svg#STARWARS')) format("svg");
       font-weight: normal;
       font-style: normal;
}


$STARWARS-font: "STARWARS";
$body-font: "STARWARS", "Helvetica", "sans-serif";
$headers-font: "STARWARS", "Helvetica", "sans-serif";
