<div class="navbar-wagon">
  <em>Cocktailand</em>
  <div class="navbar-wagon-right">
    <%= link_to "Add a new cocktail", new_cocktail_path %>
  </div>

</div>

<div class="main-page">
<h1> All the things I drank once </h1>

<%= cl_image_tag("aaqxmiozfs1t0buvx09u",
      width: 400, height: 300, crop: :fill) %>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @article.photo, height: 198, width: 198, crop: :fill %>')">
      <%= link_to cocktail.name, cocktail_path(cocktail)%>
    </li>
  <% end %>
</ul>
</div>

