<div class="navbar-wagon">
  <em>Welcome, drinkers</em>
  <div class="navbar-wagon-right">
    <%= link_to "Add a new cocktail", new_cocktail_path %>
  </div>

</div>

<div class="main-page">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,108,200,12.6) 0%, rgba(8,36,61,0.6) 41%), url(<%= cl_image_path("mzqazlz1ggksvvjbotmg") %>)">

  <div class="banner-content">
    <h1> Gal walks into this bar </h1>
    <p> And drinks...</p>
  </div>
</div>


<ul>
  <% @cocktails.each do |cocktail| %>
    <li class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url(<%= cl_image_path cocktail.photo, height: 198, width: 198, crop: :fill unless cocktail.photo.blank? %>)">
      <%= link_to cocktail.name, cocktail_path(cocktail)%>
    </li>
  <% end %>
</ul>
</div>

