.card {
  font-family: "STARWARS";
  border: 5px solid black;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 30px;
}

.card-form {
    width: 400px;
    box-shadow: 1px 1px 9px 1px #d4d4d4eb;
    background-color: #fdfdfd;
    padding: 71px 60px;
    margin: auto;
    margin-top: 130px;
    font-family: "STARWARS";
}

.label-form {
  display: inline-grid;
}

.card a, li {
  text-decoration: none;
  color: white;
  font-family: "STARWARS";
}

li:hover {
  opacity: 0.5;
}

.card-big {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: auto;
}
.card-big h1, a {
  text-decoration: none;
  color: #2f1521;
  font-family: Pacifico;
}
