h1 {
  font-weight: 700;
  font-family: 'STARWARS', 'Helvetica', 'sans-serif';
}

h2 {
  font-weight: 700;
  font-family: 'STARWARS', 'Helvetica', 'sans-serif';
}

h3 {
  font-weight: 400;
  font-family: 'STARWARS', 'Helvetica', 'sans-serif';
  }


p {
  font-family: 'STARWARS', 'Helvetica', 'sans-serif';
  color: rgb(38, 38, 38);
  letter-spacing: 1.1;
}

a {
  font-family: 'STARWARS', 'Helvetica', 'sans-serif';
  color: rgb(38, 38, 38);
}


